# This workflow runs unpriviledged unit tests.
name: unit-tests
on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  run_unit_tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-tags: true

    - id: go-version
      run: |
        make print-go-version >> "$GITHUB_OUTPUT"

    - uses: actions/setup-go@v5
      with:
        go-version: ${{ steps.go-version.outputs.result }}

    - name: Run unit tests
      run: make test-unit
